.HrefLorem{
    border: 3px solid black;
    border-radius: 3px;
    background-color: #ff5e5e;
    color: black;
    text-align: center;
    margin-left: 43%;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.HrefLorem:hover{
    border: 3px solid black;
    border-radius: 3px;
    background-color: #ff5e5e;
    color: black;
    text-align: center;
    margin-left: 42%;
    margin-bottom: 20px;
    padding: 7px;
    text-decoration: none;
    transition: all 0.3s ease;
}